# Ignore main nml file since changes are tracked in the pnml files already.
cet.nml

# Ignore any Visual Studio Code configs.
.vscode

# Ignore the compiler folder
.compile

# Ignore the virtual environment
env

# Ignore the pycache folder
__pycache__
